:root {
    --lightBlack: #101014;
    --darkBlack: #0C0C0C;
    --red: #E32636;
    --white: #F9F4F4;
}

body {
    background-color: var(--lightBlack);
    max-width: 2000px;
    margin: 0 auto;
}

.mainContainer {  /* To keep footer at bottom */
    min-height: 100vh;
}

footer {
    background-color: var(--darkBlack);
}

h2 {
    font-weight: 700;
}

.posterContainer {
    gap: 1em;
}

.homePageHeadingContainers {
    margin-bottom: 6rem;
}

.redText {
    color: var(--red);
}

.whiteText {
    color: var(--white)
}

.loadingWrapper {
    min-height: 50vh;
    text-wrap: balance;
}

@media (width >= 280px) {
    iframe {
        width: 200px;
        aspect-ratio: 2;
    }
}

@media (width >= 520px) {
    iframe {
        width: 350px;
    }
}

@media (width >= 992px) {
    iframe {
        width: 500px;
    }
}